<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<title>title</title>
</head>

<body>

	<!-- printing thy variable that retrieved obj from java code  -->
	<h1>test for showing a thymeleaf variable expression</h1>
	<p th:text="${myvariable}">this text will be replace by the variable</p>

	<!-- <1> input for a string-->
	<form th:action="@{/example}" method="post">
		<label for="stringinput">stringinput</label> 
		<input type="text"	name="stringinput"> 
		<input type="submit" value="Save Project">
	</form>
	
	<!-- print string input -->
	<p th:text="${mystringvar}"></p>


</body>

</html>
